Body {margin :0px;}

/* MENU */
header {background-color:rgba(182,241,167,0.2);
        padding-top:10px;
        padding-bottom:10px;}

.nav {overflow: hidden;
  position:relative;
  width:32%;
  margin:auto;
  border-width: 0 0 1px;
  background:transparent;
  border-color:pink;
  border-style: dashed;}

.nav a {display: inline-block;
    position: relative;
    float: right;
    padding-bottom:15px;
    padding-top:10px;
    padding-left:0;
    padding-right:0; 
    width: 32%;
    text-decoration:none;
    font-family:'Unica One', cursive;
    text-align:center;
    font-size: 20px;
    color: #393939;
    transition:.7s;}

.nav a:hover {color: pink;}

.effect {
  position: absolute;
  right: 100%;
  transition: 0.7s ease-in-out; }

.nav a:nth-child(2):hover ~ .effect {right:46.5%;}
.nav a:nth-child(1):hover ~ .effect {right:14.5%;}
.nav a:nth-child(3):hover ~ .effect {right:78.5%;}

.ph-dot-nav:after {
  display: block;
  position: absolute;
  width: 100%;
  height:20px;
  background:pink;
  bottom:10px;}

.ph-dot-nav a:after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  bottom: 0px;
  margin-left: 40px;
  left: 25%;
  background: pink;
  border-radius: 100%; }

.ph-dot-nav .effect {
  width: 10px;
  height: 10px;
  bottom: 0px; 
  background: pink;
  border-radius: 100%;}


/* Corps du site */    
main {margin:auto;
      max-width:800px;
      background-color:rgba(182,241,167,0.2);
      margin-top:80px;
      padding:10px;}
    
h1 {font-family:'Pacifico', cursive;
text-align: center;}

h2 {font-family: 'Amatic SC', cursive;
text-align: center;}

p{font-family: 'Comfortaa', cursive;}

.bloc {background-color:rgba(255,218,218,0.7);
       height:700px;
       width:700px;
       margin:auto;
       padding-bottom:20px;
       padding-left:20px;
       padding-right:20px;
       padding-top:20px;
       border:1px dotted black;}