Body {margin :0px;}

ul {margin :0px;
    padding :0px;}

header a {color:pink;
          text-decoration:none;
          font-family: 'Josefin Sans', sans-serif;}

header a:hover {color:rgb(182,241,215);
        padding:15px;
        border-radius:7px;}

header li {display:inline-block;
           width:32%;
           text-align:center;}

header {background-color:rgba(182,241,215,0.2);
        padding-top:20px;
        padding-bottom:20px;}

h1 {font-family: 'Josefin Sans', sans-serif;}
h2{font-family: 'Quicksand', sans-serif;}
p{font-family: 'Comfortaa', cursive;}